{% extends 'base.html.twig' %}

{% block title 'Gerer les options' %}

{% block body %}

	<div class="container mt-4">
		<h1 class="text-center my-4">Gerer les options</h1>
		
		<div class="d-flex justify-content-end mb-4">
			<a href="{{path('admin.option.new')}}" class="btn btn-primary mt-3 ">Creer une nouvelle option</a>
		</div>

		{% for message in app.flashes('success') %}
			<div  id="success-alert" class="alert alert-success">
				{{message}}
			</div>
		{% endfor %}

		<script>
			// Dissimulez l'alerte de succès après 5 secondes (5000 millisecondes)
			setTimeout(function() {
				document.getElementById('success-alert').style.display = 'none';
			}, 5000);
		</script>

		<table class="table table-striped">
			<thead>
				<tr>Nom</tr>
			</thead>
			<tbody>
				{% for option in options %}
					<tr>
						<td>{{option.name}}</td>
						<td>
                            <a href="{{ path('admin.option.edit', {id: option.id})}}" class="btn btn-secondary">Editer</a>
							<form method="post" action="{{ path('admin.option.delete', {id: option.id}) }}" 
								style="display: inline-block" onsubmit="return confirm('Etes vous vraiement sur ?')">
								<input type="hidden" name="_method" value="DELETE"> 
								{# permet de simuler une requete DELETE etant donne que les formulaire ne prenne pas compte que les requete POST et GET #}
								<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ option.id) }}">
								<button type="submit" class="btn btn-danger">Supprimer</button>
							</form>
                        </td>
					</tr>
				{% endfor %}
			</tbody>
		</thead>
	</table>

	{# <div class="Page navigation my-4 ">
			{{ knp_pagination_render(options) }}
	</div> #}

</div>{% endblock %}
